<div class="container mt-5 container-center">
  <div class="col-lg-8 ">
    <div class="card my-card">
      <div class="card-body text-center">
        <div class="container">
          <div class="col-sm">
            <span class="title"> BLIND SIGNATURES </span>
            <form class="mt-3" [formGroup]="blindForm" (ngSubmit)="blind()">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="message"
                    class="form-control form-control-lg"
                    placeholder="Message to blind"
                  />
                </div>
                <div class="col" style="flex: 0 0 100px">
                  <button
                    type="submit"
                    [disabled]="blindForm.invalid"
                    class="btn btn-secondary btn-lg float-start my-btn"
                  >
                    Blind
                  </button>
                </div>
              </div>
            </form>
            <form class="mt-3" [formGroup]="signForm" (ngSubmit)="sign()">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="blind_message"
                    class="form-control form-control-lg"
                    placeholder="Blinded message to sign"
                  />
                </div>
                <div class="col" style="flex: 0 0 100px">
                  <button
                    type="submit"
                    [disabled]="signForm.invalid"
                    class="btn btn-secondary btn-lg float-start my-btn"
                  >
                    Sign
                  </button>
                </div>
              </div>
            </form>
            <form class="mt-3" [formGroup]="unblindForm" (ngSubmit)="unblind()">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="signed_message"
                    class="form-control form-control-lg"
                    placeholder="Signed message to unblind"
                  />
                </div>
                <div class="col" style="flex: 0 0 100px">
                  <button
                    type="submit"
                    [disabled]="unblindForm.invalid"
                    class="btn btn-secondary btn-lg float-start my-btn"
                  >
                    Unblind
                  </button>
                </div>
              </div>
            </form>
            <form class="mt-3" [formGroup]="verifyForm" (ngSubmit)="verify()">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="unblind_message"
                    class="form-control form-control-lg"
                    placeholder="Unblinded message to verify"
                  />
                </div>
                <div class="col" style="flex: 0 0 100px">
                  <button
                    type="submit"
                    [disabled]="verifyForm.invalid"
                    class="btn btn-secondary btn-lg float-start my-btn"
                  >
                    Verify
                  </button>
                </div>
              </div>
            </form>
            <div
              class="mt-3"
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row;
              "
            >
              <label style="width: 190px">Verify result:</label>
              <input
                type="text"
                id="resVerify"
                class="form-control form-control-lg"
                style="margin-left: 1em; padding: 0.5em; margin-bottom: 0.5em"
              />
            </div>
            <button routerLink="/" class="btn btn-secondary btn-lg float-start my-btn">
              Back to Dashboard
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
