<div class="container mt-5">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-body text-center">
        <div class="container">
          <div class="col-sm">
            <span class="title"> SIGN & VERIFY </span>
            <form class="mt-3" [formGroup]="signForm" (ngSubmit)="sign()">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="message"
                    class="form-control form-control-lg"
                    placeholder="Message to sign"
                  />
                </div>
                <div class="col" style="flex: 0 0 100px">
                  <button
                    type="submit"
                    [disabled]="signForm.invalid"
                    class="btn btn-success btn-lg float-end"
                  >
                    Sign
                  </button>
                </div>
              </div>
            </form>
            <form class="mt-3" [formGroup]="verifyForm" (ngSubmit)="verify()">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="ciphertext"
                    class="form-control form-control-lg"
                    placeholder="Ciphertext to verify (result from signing)"
                  />
                </div>
                <div class="col" style="flex: 0 0 100px">
                  <button
                    type="submit"
                    [disabled]="verifyForm.invalid"
                    class="btn btn-success btn-lg float-end"
                  >
                    Verify
                  </button>
                </div>
              </div>
            </form>
            <div
              class="mt-3"
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row;
              "
            >
              <label style="width: 190px">Verify result:</label>
              <input
                type="text"
                id="resVerify"
                class="form-control form-control-lg"
                style="margin-left: 1em; padding: 0.5em; margin-bottom: 0.5em"
              />
            </div>
            <button routerLink="/" class="btn btn-secondary btn-lg float-start">
              Back to Dashboard
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
